body{
    font-family: 'Lato', sans-serif;

}
.container{
    width: 75vw;
    background-color: white;
}
.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background: linear-gradient(to right, cornflowerblue 50%, gray 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition: all 1s ease;
}
.dot:hover{
    background-position:left bottom;

}
.intro p{
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
}
.fridge{
    height: 30vh;
}
.hidden{
    display: none;
}

.form-check p{
    text-align: center;
    margin-bottom: 0;
}
.text-box{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.65);
}
.imageQ [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
.answer-row{
    min-height: 34vh;
}
  
  /* IMAGE STYLES */
.imageQ  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
.imageQ [type=radio]:checked + img {
    outline: 2px solid #f00;
  }
.slide-in{
    visibility: hidden;
    transform: translateX(+100%);
    transition: transform 2s ease-out;
}

